
h1 {
  text-align: center;
  color: crimson;
}

button.centrado{
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(+150%);
}